---
layout: default
---

<!-- Head for CSS -->
<head>
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>

<style>

  

.masthead {
  height: 100%;
}

.row{
  display: flex;
}

.flip-box-text {
  background-color: transparent;
  width: 250px;
  height: 50px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
}

.flip-box {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
}


.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 12px;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-text:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-front {
  background-color: lightblue;
  color: black;
  font-size: 13px;
  text-align: center;
  vertical-align: middle;
}

.flip-box-front h4 {
  vertical-align: middle;
  line-height: 50px;
}

.flip-box-back h4 {
  vertical-align: middle;
  line-height: 50px;
}

.flip-box-back {
  background-color: darkblue;
  vertical-align: middle;
  color: white;
  font-size: 13px;
  text-align: center;
  transform: rotateY(180deg);
}

  .imgButton{
    text-align:center;
}
  
  .right_container_boxes{
    width: 60%;
    /* float: right; */
    position: sticky;
    align-self: flex-start;
    padding: 0px;
    top: 0px;
    left: 0px;
    right: 0px;
    margin-top: 4px;
    margin: 10 0 10 0;
  }

  .right_container_barchart{
    width: 60%;
    /* float: right; */
    position: sticky;   
    /* top: 50; */
    align-self: flex-start;
    padding: 5px;
    top: 0px;
    left: 0px;
    right: 0px;
    /* margin: 0 0 10 10 */
  }

  .right_container_wordcloud{
    width: 60%;
    /* float: right; */
    position: sticky;
    /* top: 50; */
    top: 0px;
    left: 0px;
    right: 0px;
    align-self: flex-start;
    margin-left: 20px;
    padding: 5px;
    /* margin-top: 0px; */
    /* margin: 0 0 10 10 */
  }

    .graph_container
  {
    width: 100%;
    height: 100%;
    top: 5px;
    left: 0px;
    right: 0px;
    position: sticky;
    align-self: flex-start;
    padding: 5px;
    margin: 0 0 10 10;
  }

      .graph_container_time
  {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    position: sticky;
    align-self: flex-start;
    padding: 5px;
    margin: 0 0 10 10;
  }

    .text_container_graph
  {
    font-size: 16px;
    text-align: justify;
    float: left;
    width: 30%;
    color: rgb(0, 0, 0);
    margin-left: 70px;
    background-color: rgba(255, 255, 255, 0.8)
  }


  .flip_container{
    width: 70%;
    /*height: 100%;
    top: 10px;
    margin-left: auto;  
    margin-right: 50px; */
    float: right;
    position: sticky;
    align-self: flex-start;
    padding: 5px;
    /* margin: 0 0 10 10 */
    
  }

  .graph_genres
  {
    width: 100%;
    height: 100%;
    top: 10px;
    left: 0px;
    right: 0px;
    position: sticky;
    align-self: flex-start;
    padding: 0px;
    margin: 0 0 0 0
    /*margin: 0 0 10 10;*/
  }

  .text_container_plain
  {
    font-size: 16px;
    text-align: justify;
    width: 30%;
    color: rgb(0, 0, 0);
    background-color: white;
    margin-left: 70px;
  }



  iframe {
    width: 100%;
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-color: white;
    display: block;
  }

  .slide_container {
  position: relative;
}

.image_button {
  position: absolute;
  top: 75%; /* this positions the buttons vertically in the middle of the container */
  /*transform: translateY(+70%); /* this moves the buttons up by half their own height */
}

  a.ex2:hover, a.ex2:active {font-size: 150%; text-decoration: none;}

</style>

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}');background-attachment: fixed">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>{{ site.title }}</h1>
            {% if site.description %}
            <span class="subheading">{{ site.description }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>


  <div class="container">


        {{ content }}
        <!-- Lorem Ipsum -->
        <div class="container" style="display: flex; flex-direction: column;" data-aos="zoom-in" data-aos-anchor-placement="top-center" data-aos-mirror="true">
          <h1>Welcome</h1>
          <p>The universe is made of stories. Nowadays, the most impactful stories come in the form of movies. 
            Our society is reflected in the characters and stories that we see on the big screen.
            What can we learn from them? In this datastory, we take you on a journey through 
            time and space to discover movies through the eyes of characters.&nbsp;</p>
          <h2>Data</h2>
          <p>This story uses data from the <a href="http://www.cs.cmu.edu/~ark/personas/">CMU movie summary corpus.</a>
            What does this dataset entail?</p>
          <center> <p><a class="ex2"><h4>450,669 characters </h4> </a></p></center>
          <center>
            <p><a class="ex2">
                <h4>81,741 movies </h4>
              </a></p>
          </center>
          <center> <p><a class="ex2"><h4>42,306 plot summaries </h4> </a></p></center>
          <p class="heading">The authors also classified 500 characters into one of 72 character archetypes.</p>
          <h2 class="heading">Genres</h2>
          <p>Let us start our journey by looking at movie genres. Can you guess how many there are?</p>
          
          <center>
          <div class="flip-box-text">
            <div class="flip-box-inner">
              <div class="flip-box-front">
                <h4>Number of genres</h4>
              </div>
              <div class="flip-box-back">
                <h4>364</h4>
              </div>
            </div>
          </div>
          </center>

          <p>The figure below shows the evolution of movie genres over time. One can see that the movie industry has
            changed significantly over time. Up until 1920, black-and-white, silent and short films dominated the industry. 
            The first movie with both synchronized music and speech is <a href="https://en.wikipedia.org/wiki/The_Jazz_Singer">The Jazz
              Singer</a>. This marked the end of the era of silent movies, as movies with sound ("talkies") soared in popularity
            from this point on. What pattern do you see for your favorite movie genre?&nbsp;</p>
            
         </div>

        <div class="row">
          <div class="container">
            <!-- Add the iframe element where you want the plot to appear -->
            <iframe src="Plots/genre_distrib.html" data-aos="zoom-in " data-aos-offset="0" data-aos-duration="0" data-aos-mirror="true" data-aos-anchor-placement="top-bottom" height="600"></iframe>
          </div>
        </div>
        
        <div class="row">
          <div class="text_container_graph" data-aos="zoom-in" data-aos-offset="0" data-aos-duration="0" data-aos-mirror="true" data-aos-anchor-placement="top-bottom">
            <h2>Movie characters</h2>
            <p>We now move onto studying character archetypes. Humans are complex and diverse, and no two people are the same. Yet
              we tend to find the same character types again and again in movies. Who does not know the heroic protagonist in action
              movies, or the funny sidekick in action comedy?&nbsp;</p>
            <p>Our research aims to gain a better understanding of characters in movies by clustering them based on their
              characteristics. Using these clusters, one can find patterns within and across movies. To illustrate this, we can look at
              what clusters are most common for a movie genre.</p>
            <p>What do you think are the top 5 character types for romance movies? How about action movies?</p>
          </div>
          <div class = "right_container_boxes" data-aos="zoom-in" data-aos-offset="0" data-aos-duration="0" data-aos-mirror="true" data-aos-anchor-placement="top-bottom">
            <div class = "flip_container">
              <div class="flip-box">
                <div class="flip-box-inner">
                  <div class="flip-box-front">
                    <img src="img/fight_club_pic.jpg" alt="Thriller" style="width:300px;height:200px">
                  </div>
                  <div class="flip-box-back">
                    <br>
                    <h5>Top 5 Thriller cluster labels</h5>
                    <p>Heroes & Anti-Heroes<br>
                      Femme fatale<br>
                      Arrogant leader<br>
                      Marksman<br>
                      Clumsy</p>
                  </div>
                </div>
              </div>
              <div class="flip-box">
                <div class="flip-box-inner">
                  <div class="flip-box-front">
                    <img src="img/the_artist.jpg" alt="Silent" style="width:300px;height:200px">
                  </div>
                  <div class="flip-box-back">
                    <br>
                    <h5>Top 5 Silent Movie cluster labels</h5>
                    <p>Heroes and Anti-Heroes<br>  
                      Righteous warrior<br>       
                      Nemesis<br>           
                      Femme fatale<br>             
                      Musician</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Now trying to put text and graph near another -->
        <div class="row">
          <div class="graph_container">
            <!-- Add the iframe element where you want the plot to appear -->
            <iframe src="Plots/Romancegen_plot.html" data-aos="zoom-in " data-aos-offset="120" data-aos-duration="0"
              data-aos-anchor-placement="top-bottom" display:block; width=100% height="900"></iframe>
          </div>
          <div class="text_container_graph" data-aos="zoom-in" data-aos-offset="0" data-aos-anchor-placement="top-bottom"
            data-aos-duration="50">
            <h2>Character clustering</h2>
            <p>Before we dive into the nitty-gritty details, take some time to explore the clusters! Can you find your favorite
              movies? Your favorite characters? Who is the big pink circle in young love female characters?</p>
            <p>All done playing? So how did we get these clusters. This process starts with processing all plot summaries to get as
              much information as possible about each character: name, age, profession, marital status, adjectives, passive verbs,
              active verbs… Everything we could get to understand what are they like. We then embedded 
              these descriptions into 3D space in order to visualize the character archetypes as a point cloud. </p>
            <p>What do we learn from these clusters? The first thing that strikes the eye is the big central
              cluster, which consists of Heroes and anti-heroes. This is not so surprising, as a hero or anti-hero is usually the
              main character of a movie. Naturally, many of the characters that were extracted from the plot summaries are main
              characters. Second, we looked at characters in romance movies. We see that most romance characters are in the central hero or anti-hero cluster. This indicates that from the
              romance movies, we have mostly gathered the main characters. We also notice something surprising: there are a great deal of lawyers in the romance movies... 
              Seems like a 39 years old male lawyer is a popular character in romance comedies... </p>
          </div>
        </div>


        <div class="row">
          <div class="text_container_graph" data-aos="zoom-in" data-aos-offset="0" data-aos-duration="0" data-aos-mirror="true" data-aos-anchor-placement="top-bottom">
            <h2>Cluster analysis</h2>
            <p>We wanted to look more closely into the different character types. What are the most common character types? 
              Are they becoming more popular with time? How profitable are they?
              Let's answer these questions using the graph on the right hand side.</p>
            <p>For this figure we have selected the ten biggest clusters and look at them individually. One can toggle between clusters with the drop-down menu at
              the top left corner.
              The graph displays the percentage of characters that belong to the cluster for each time period. 
              If the bars increase across time for a cluster, this indicates that the cluster has become more prevalent in
              movies during the last century.
              Additionally, the color of a bar chart indicates the percentage of revenue created by the movies to which these characters belong.</p>
            <p>What do we learn from this graph? Clumsy characters have become more prevalent and more profitable over time.
              Arrogant leaders have also become more prevalent, but not more profitable. 
              What other patterns can you discover?</p>
          </div>
          <div class="right_container_barchart">
            <!-- Add the iframe element where you want the plot to appear -->
            <iframe src="Plots/cluster.html" data-aos="zoom-in " data-aos-offset="0" data-aos-duration="0" data-aos-mirror="true"
              height="600" data-aos-anchor-placement="top-bottom"></iframe>
          </div>
        </div>
        
        <div class="row">
          <div class="text_container_graph" data-aos="zoom-in" data-aos-offset="0" data-aos-duration="1000" data-aos-mirror="true" data-aos-anchor-placement="top-bottom">
            <h2>Cluster wordclouds</h2>
            Love is the third most common word after father and man in the plot summaries, but kill might not be too far off.
            It seems that these Femme fatale are not the most pleasant characters to be around. Might need a Goofy friend to come to the rescue. 
            The wordcloud for corrupt character has a lot of family nouns... the family business is not always the best business.  
          </div>
          <div class= "right_container_wordcloud" data-aos="zoom-in" data-aos-offset="0" data-aos-duration="1000" data-aos-mirror="true" data-aos-anchor-placement="top-bottom">
            <div class="slide_container">
              <img class="mySlides" src="img/wordcloud_label_0.jpg">
              <img class="mySlides" src="img/wordcloud_label_1.jpg">
              <img class="mySlides" src="img/wordcloud_label_2.jpg">
              <img class="mySlides" src="img/wordcloud_label_3.jpg">
              <img class="mySlides" src="img/wordcloud_label_4.jpg">
              <img class="mySlides" src="img/wordcloud_label_5.jpg">
              <img class="mySlides" src="img/wordcloud_label_6.jpg">
              <img class="mySlides" src="img/wordcloud_label_7.jpg">
              <img class="mySlides" src="img/wordcloud_label_8.jpg">
              <img class="mySlides" src="img/wordcloud_label_9.jpg">
              <img class="mySlides" src="img/wordcloud_label_10.jpg">
              <img class="mySlides" src="img/wordcloud_label_11.jpg">
              <img class="mySlides" src="img/wordcloud_label_12.jpg">
              <img class="mySlides" src="img/wordcloud_label_13.jpg">
              <img class="mySlides" src="img/wordcloud_label_14.jpg">
              <img class="mySlides" src="img/wordcloud_label_15.jpg">
              <img class="mySlides" src="img/wordcloud_label_16.jpg">
              <img class="mySlides" src="img/wordcloud_label_17.jpg">
              <img class="mySlides" src="img/wordcloud_label_18.jpg">
              <img class="mySlides" src="img/wordcloud_label_19.jpg">
              <img class="mySlides" src="img/wordcloud_label_20.jpg">
              <img class="mySlides" src="img/wordcloud_label_21.jpg">
              <img class="mySlides" src="img/wordcloud_label_22.jpg">
              <img class="mySlides" src="img/wordcloud_label_23.jpg">
              <img class="mySlides" src="img/wordcloud_label_24.jpg">
              <img class="mySlides" src="img/wordcloud_label_28.jpg">
              <img class="mySlides" src="img/wordcloud_label_29.jpg">
              <img class="mySlides" src="img/wordcloud_label_30.jpg">
              <img class="mySlides" src="img/wordcloud_label_31.jpg">
              <img class="mySlides" src="img/wordcloud_label_32.jpg">
              <img class="mySlides" src="img/wordcloud_label_33.jpg">
            </div>
            <div class="image_button">
              <button class="w3-button w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
              <button class="w3-button w3-display-right" onclick="plusDivs(+1)">&#10095;</button>
            </div>
            <script>
              var slideIndex = 1;
              showDivs(slideIndex);

              function plusDivs(n) {
                showDivs(slideIndex += n);
              }

              function showDivs(n) {
                var i;
                var x = document.getElementsByClassName("mySlides");
                if (n > x.length) { slideIndex = 1 }
                if (n < 1) { slideIndex = x.length }; for (i = 0; i < x.length; i++) { x[i].style.display = "none"; }
                x[slideIndex - 1].style.display = "inline";
              } </script>
          </div>
        </div>

        <div class="row">
          <div class="graph_container">
            <!-- Add the iframe element where you want the plot to appear -->
            <iframe src="Plots/Relations_plot.html" data-aos="zoom-in " data-aos-offset="0" data-aos-mirror="true"
              data-aos-anchor-placement="top-bottom" width=100% height="900"></iframe>
          </div>
          <div class="text_container_graph" data-aos="zoom-in" data-aos-offset="0" data-aos-duration="1000"
            data-aos-mirror="true" data-aos-anchor-placement="top-bottom">
            <h2>Love relations</h2>
            <p>Who is your soulmate? Every day, many people are looking for a partner, whether it is through a dating app or in a
              bar. Although we cannot answer this million-dollar question, we provide an insight into which character archetypes are
              coupled in movies.&nbsp;</p>
            <p>One thing that becomes obvious from the graph, is that most relationships involve (anti-)heroes. In contrast, some
              archetypes, such as the stubbern fool and goofy friend, are seldom involved in relationships.&nbsp;</p>
            <p>We also notice a lot of relationships between Heroes and anti-heroes and lawyers cluster. 
              It is not surprising as lawyers are heavily represented in romance movies as seen previously.
              We also notice the protector cluster is highly connected with Heroes and anti-heroes. </p>
              
            <p>If you would be in a movie, who 
              would you be, and who would be your partner?</p>
          </div>
        </div>

        <div class="row">
          <div class="graph_container_time">
            <!-- Add the iframe element where you want the plot to appear -->
            <iframe src="Plots/plot_time.html" data-aos="zoom-in " data-aos-offset="0" data-aos-mirror="true"
              data-aos-anchor-placement="top-bottom" width=100% height="900"></iframe>
          </div>
          <div class="text_container_graph" data-aos="zoom-in" data-aos-offset="0" data-aos-duration="1000"
            data-aos-mirror="true" data-aos-anchor-placement="top-bottom">
            Plot with time slider! that the reader sees. Opacity at 0.8. It should be wide now. It
            will give an overview. It should be very opaque. Boop biep boop. Sed non risus. Suspendisse lectus tortor, dignissim
            sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a,
            semper congue, euismod non, mi. Proin porttitor, orci nec nonummy molestie, enim est eleifend mi, non fermentum diam
            nisl sit amet erat. Duis semper. Duis arcu massa, scelerisque vitae, consequat in, pretium a, enim. Pellentesque
            congue. Ut in risus volutpat libero pharetra tempor. Cras vestibulum bibendum augue. Praesent egestas leo in pede.
            Praesent blandit odio eu enim. Pellentesque sed dui ut augue blandit sodales. Vestibulum ante ipsum primis in
            faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam nibh. Mauris ac mauris sed pede pellentesque
            fermentum. Maecenas adipiscing ante non diam sodales hendrerit.
            Ut velit mauris, egestas sed, gravida nec, ornare ut, mi. Aenean ut orci vel massa suscipit pulvinar. Nulla
            sollicitudin. Fusce varius, ligula non tempus aliquam, nunc turpis ullamcorper nibh, in tempus sapien eros vitae
            ligula. Pellentesque rhoncus nunc et augue. Integer id felis. Curabitur aliquet pellentesque diam. Integer quis
            metus vitae elit lobortis egestas. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi vel erat non
            mauris convallis vehicula. Nulla et sapien. Integer tortor tellus, aliquam faucibus, convallis id, congue eu, quam.
            Mauris ullamcorper felis vitae erat. Proin feugiat, augue non elementum posuere, metus purus iaculis lectus, et
            tristique ligula justo vitae magna.
            Aliquam convallis sollicitudin purus. Praesent aliquam, enim at fermentum mollis, ligula massa adipiscing nisl, ac
            euismod nibh nisl eu lectus. Fusce vulputate sem at sapien. Vivamus leo. Aliquam euismod libero eu enim. Nulla nec
            felis sed leo placerat imperdiet. Aenean suscipit nulla in justo. Suspendisse cursus rutrum augue. Nulla tincidunt
            tincidunt mi. Curabitur iaculis, lorem vel rhoncus faucibus, felis magna fermentum augue, et ultricies lacus lorem
            varius purus. Curabitur eu amet
          </div>
        </div>

        <!-- Conclusion -->
        <div class="container" style="margin: 20px 0px 0px 0px" data-aos="zoom-in" data-aos-duration="1000" data-aos-offset="0" data-aos-mirror="true" data-aos-anchor-placement="top-bottom">
          <h2>Conclusion</h2>
          <p>Here we will put the conclusion</p>
        </div>

        <!-- Line -->
        <div class="row">
          <div class="col-md-12">
            <hr size="8" width="90%" color="red">
          </div>
        </div>

  </div>


  <!-- Home Post List -->
  <!-- {% for post in site.posts limit : 5 %}
  
          <article class="post-preview">
            <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
              <h2 class="post-title">{{ post.title }}</h2>
              {% if post.subtitle %}
              <h3 class="post-subtitle">{{ post.subtitle }}</h3>
              {% else %}
              <h3 class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 15 }}</h3>
              {% endif %}
            </a>
            <p class="post-meta">Posted by
              {% if post.author %}
              {{ post.author }}
              {% else %}
              {{ site.author }}
              {% endif %}
              on
              {{ post.date | date: '%B %d, %Y' }} &middot; {% include read_time.html content=post.content %}            
            </p>
          </article>
  
          <hr>
  
          {% endfor %} -->
  
  <!-- Text near an image -->
  <!-- <div class="row">
            <div class="graph_container">
                <img src="https://www.w3schools.com/css/img_fjords.jpg" id="image_test" alt="Random Pic" width="600">
            </div>
            <div class="text_container" data-aos="zoom-in" data-aos-duration="3000">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi. Proin porttitor, orci nec nonummy molestie, enim est eleifend mi, non fermentum diam nisl sit amet erat. Duis semper. Duis arcu massa, scelerisque vitae, consequat in, pretium a, enim. Pellentesque congue. Ut in risus volutpat libero pharetra tempor. Cras vestibulum bibendum augue. Praesent egestas leo in pede. Praesent blandit odio eu enim. Pellentesque sed dui ut augue blandit sodales. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam nibh. Mauris ac mauris sed pede pellentesque fermentum. Maecenas adipiscing ante non diam sodales hendrerit.
              Ut velit mauris, egestas sed, gravida nec, ornare ut, mi. Aenean ut orci vel massa suscipit pulvinar. Nulla sollicitudin. Fusce varius, ligula non tempus aliquam, nunc turpis ullamcorper nibh, in tempus sapien eros vitae ligula. Pellentesque rhoncus nunc et augue. Integer id felis. Curabitur aliquet pellentesque diam. Integer quis metus vitae elit lobortis egestas. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi vel erat non mauris convallis vehicula. Nulla et sapien. Integer tortor tellus, aliquam faucibus, convallis id, congue eu, quam. Mauris ullamcorper felis vitae erat. Proin feugiat, augue non elementum posuere, metus purus iaculis lectus, et tristique ligula justo vitae magna.
              Aliquam convallis sollicitudin purus. Praesent aliquam, enim at fermentum mollis, ligula massa adipiscing nisl, ac euismod nibh nisl eu lectus. Fusce vulputate sem at sapien. Vivamus leo. Aliquam euismod libero eu enim. Nulla nec felis sed leo placerat imperdiet. Aenean suscipit nulla in justo. Suspendisse cursus rutrum augue. Nulla tincidunt tincidunt mi. Curabitur iaculis, lorem vel rhoncus faucibus, felis magna fermentum augue, et ultricies lacus lorem varius purus. Curabitur eu amet
            </div>
          </div> -->
